<!-- <div class="video">
    <iframe
      width="100%"
      height="800"
      src="../../../assets/Albertsons Companies 2019 (1).mp4"
    >
    </iframe>
  </div> -->

<!-- <div class="cards" >
    <h1>OUR PROJECTS</h1>

    <div class="project">
      <img src="../.././/../assets/catalogue.webp" />
      <p>CATALOGUE</p>
    </div>
    <div class="project">
      <img src="../.././/../assets/catalogue.webp" />
      <p>CATALOGUE</p>
    </div>
    <div class="project">
      <img src="../.././/../assets/catalogue.webp" />
      <p>CATALOGUE</p>
    </div>
    <div class="project">
      <img src="../.././/../assets/catalogue.webp" />
      <p>CATALOGUE</p>
    </div>
    <div class="project">
      <img src="../.././/../assets/catalogue.webp" />
      <p>CATALOGUE</p>
    </div>
    <div class="project">
      <img src="../.././/../assets/catalogue.webp" />
      <p>CATALOGUE</p>
    </div>
    <div class="project">
      <img src="../.././/../assets/catalogue.webp" />
      <p>CATALOGUE</p>
    </div>
    <div class="project">
      <img src="../.././/../assets/catalogue.webp" />
      <p>CATALOGUE</p>
    </div>
  </div> -->

<div class="ourprojects">
  <!-- <h1>ABS PROJECTS</h1> -->
</div>
<br /><br /><br />
<!-- <div class="tiles">
  <mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile>
      <div class="images">
        <img src="../../../assets/bg2.jpg" />
      </div>

      <div class="item1">
        <div class="content">
          <a
            href="catalogue"
            class="content"
            style="font-size: 40px; text-decoration: underline"
            >Catalogue
          </a>
        </div>
        <div class="content">
          <a href="techstack" class="content">Techstack </a>
        </div>

        <div class="content">
          <a href="#" class="content">POC</a>
        </div>
        <div class="content">
          <a href="people" class="content">People</a>
        </div>
        <div class="content">
          <a href="upload" class="content">Upload Documents</a>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="images">
        <img src="../../../assets/bg1.webp" />
      </div>

      <div class="item1">
        <div class="content">
          <a
            href="#"
            class="content"
            style="font-size: 40px; text-decoration: underline"
            >Loyalty</a
          >
        </div>
        <div class="content">
          <a href="#" class="content">Techstack </a>
        </div>

        <div class="content">
          <a href="#" class="content">POC</a>
        </div>
        <div class="content">
          <a href="#" class="content">People</a>
        </div>
        <div class="content">
          <a href="#" class="content">Upload Documents</a>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="images">
        <img src="../../../assets/bg4.jpg" />
      </div>

      <div class="item1">
        <div class="content">
          <a
            href="#"
            class="content"
            style="font-size: 40px; text-decoration: underline"
            >Pharma</a
          >
        </div>
        <div class="content">
          <a href="#" class="content">Techstack </a>
        </div>

        <div class="content">
          <a href="#" class="content">POC</a>
        </div>
        <div class="content">
          <a href="#" class="content">People</a>
        </div>
        <div class="content">
          <a href="#" class="content">Upload Documents</a>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="images">
        <img src="../../../assets/bg5.jpg" />
      </div>

      <div class="item1">
        <div class="content">
          <a
            href="#"
            class="content"
            style="font-size: 40px; text-decoration: underline"
            >Pricing
          </a>
        </div>
        <div class="content">
          <a href="#" class="content">Techstack </a>
        </div>

        <div class="content">
          <a href="#" class="content">POC</a>
        </div>
        <div class="content">
          <a href="#" class="content">People</a>
        </div>
        <div class="content">
          <a href="#" class="content">Upload Documents</a>
        </div>
      </div>
    </mat-grid-tile>
    <br /><br /><br />

    <mat-grid-tile>
      <div class="images">
        <img src="../../../assets/bg5.jpg" />
      </div>

      <div class="item1">
        <div class="content">
          <a
            href="#"
            class="content"
            style="font-size: 40px; text-decoration: underline"
            >DOMS
          </a>
        </div>
        <div class="content">
          <a href="#" class="content">Techstack </a>
        </div>

        <div class="content">
          <a href="#" class="content">POC</a>
        </div>
        <div class="content">
          <a href="#" class="content">People</a>
        </div>
        <div class="content">
          <a href="#" class="content">Upload Documents</a>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="images">
        <img src="../../../assets/bg4.jpg" />
      </div>

      <div class="item1">
        <div class="content">
          <a
            href="#"
            class="content"
            style="font-size: 40px; text-decoration: underline"
            >DOMS
          </a>
        </div>
        <div class="content">
          <a href="#" class="content">Techstack </a>
        </div>

        <div class="content">
          <a href="#" class="content">POC</a>
        </div>
        <div class="content">
          <a href="#" class="content">People</a>
        </div>
        <div class="content">
          <a href="#" class="content">Upload Documents</a>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="images">
        <img src="../../../assets/bg1.webp" />
      </div>

      <div class="item1">
        <div class="content">
          <a
            href="#"
            class="content"
            style="font-size: 40px; text-decoration: underline"
            >DOMS
          </a>
        </div>
        <div class="content">
          <a href="#" class="content">Techstack </a>
        </div>

        <div class="content">
          <a href="#" class="content">POC</a>
        </div>
        <div class="content">
          <a href="#" class="content">People</a>
        </div>
        <div class="content">
          <a href="#" class="content">Upload Documents</a>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="images">
        <img src="../../../assets/bg2.jpg" />
      </div>

      <div class="item1">
        <div class="content">
          <a
            href="#"
            class="content"
            style="font-size: 40px; text-decoration: underline"
            >DOMS
          </a>
        </div>
        <div class="content">
          <a href="#" class="content">Techstack </a>
        </div>

        <div class="content">
          <a href="#" class="content">POC</a>
        </div>
        <div class="content">
          <a href="#" class="content">People</a>
        </div>
        <div class="content">
          <a href="#" class="content">Upload Documents</a>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<hr /> -->

<!-- new page -->
<div style="margin-top: -100px">
  <div class="container">
    <h3 style="text-align: center;text-decoration: underline;">Fulfilment</h3>
    <div class="row text-center" style="padding: 40px">
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
        
          <a class="a" href="catalogue" style="text-decoration: none">
            <h5 class="mb-0">CATALOG</h5></a
          >
          <br />

          <a class="a" href="people"
            ><span class="small text-uppercase">People</span></a
          >
          <br />
          <a class="a" href="techstackcatalog">
            <span class="small text-uppercase">Techstack</span><br
          /></a>
          <span class="small text-uppercase">POC</span><br />
          <a class="a" href="upload"
            ><span class="small text-uppercase">Documents</span><br
          /></a>
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="catalogue"><h5>LOYALTY</h5></a>
          <br />
          <a class="a" href="people">
            <span class="small text-uppercase">People</span></a
          >
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="catalogue"> <h5 class="mb-0">UPP</h5></a>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
   
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="catalogue"><h5 class="mb-0">DOMS</h5></a>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
        
          <a class="a" href="catalogue"><h5 class="mb-0">PRICING</h5></a>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
       
          <a class="a" href="catalogue"><h5 class="mb-0">S&S</h5></a>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="catalogue"><h5 class="mb-0">PHARMA</h5></a>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
       
          <h5 class="mb-0">jkl</h5>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <h5 class="mb-0">efg</h5>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <h5 class="mb-0">xyz</h5>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          
          <h5 class="mb-0">abc</h5>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->
    </div>
  </div>
</div>






<!-- new page -->
<div style="margin-top: 100px">
  <div class="container">
    <h3 style="text-align: center;text-decoration: underline;">Merchandising</h3>
    <div class="row text-center" style="padding: 40px">
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
        
          <a class="a" href="catalogue" style="text-decoration: none">
            <h5 class="mb-0">CATALOG</h5></a
          >
          <br />

          <a class="a" href="people"
            ><span class="small text-uppercase">People</span></a
          >
          <br />
          <a class="a" href="techstackcatalog">
            <span class="small text-uppercase">Techstack</span><br
          /></a>
          <span class="small text-uppercase">POC</span><br />
          <a class="a" href="upload"
            ><span class="small text-uppercase">Documents</span><br
          /></a>
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="catalogue"><h5>LOYALTY</h5></a>
          <br />
          <a class="a" href="people">
            <span class="small text-uppercase">People</span></a
          >
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="catalogue"> <h5 class="mb-0">UPP</h5></a>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
   
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="catalogue"><h5 class="mb-0">DOMS</h5></a>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
        
          <a class="a" href="catalogue"><h5 class="mb-0">PRICING</h5></a>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
       
          <a class="a" href="catalogue"><h5 class="mb-0">S&S</h5></a>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="catalogue"><h5 class="mb-0">PHARMA</h5></a>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
       
          <h5 class="mb-0">jkl</h5>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <h5 class="mb-0">efg</h5>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <h5 class="mb-0">xyz</h5>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          
          <h5 class="mb-0">abc</h5>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->
    </div>
  </div>
</div>


<!-- new page -->
<div style="margin-top: 100px">
  <div class="container">
    <h3 style="text-align: center;text-decoration: underline;">Loyalty</h3>
    <div class="row text-center" style="padding: 40px">
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
        
          <a class="a" href="catalogue" style="text-decoration: none">
            <h5 class="mb-0">CATALOG</h5></a
          >
          <br />

          <a class="a" href="people"
            ><span class="small text-uppercase">People</span></a
          >
          <br />
          <a class="a" href="techstackcatalog">
            <span class="small text-uppercase">Techstack</span><br
          /></a>
          <span class="small text-uppercase">POC</span><br />
          <a class="a" href="upload"
            ><span class="small text-uppercase">Documents</span><br
          /></a>
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="catalogue"><h5>LOYALTY</h5></a>
          <br />
          <a class="a" href="people">
            <span class="small text-uppercase">People</span></a
          >
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="catalogue"> <h5 class="mb-0">UPP</h5></a>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
   
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="catalogue"><h5 class="mb-0">DOMS</h5></a>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
        
          <a class="a" href="catalogue"><h5 class="mb-0">PRICING</h5></a>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
       
          <a class="a" href="catalogue"><h5 class="mb-0">S&S</h5></a>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="catalogue"><h5 class="mb-0">PHARMA</h5></a>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
       
          <h5 class="mb-0">jkl</h5>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <h5 class="mb-0">efg</h5>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <h5 class="mb-0">xyz</h5>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          
          <h5 class="mb-0">abc</h5>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->
    </div>
  </div>
</div>



<!-- new page -->
<div style="margin-top: 100px">
  <div class="container">
    <h3 style="text-align: center;text-decoration: underline;">Ecommerce</h3>
    <div class="row text-center" style="padding: 40px">
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
        
          <a class="a" href="catalogue" style="text-decoration: none">
            <h5 class="mb-0">CATALOG</h5></a
          >
          <br />

          <a class="a" href="people"
            ><span class="small text-uppercase">People</span></a
          >
          <br />
          <a class="a" href="techstackcatalog">
            <span class="small text-uppercase">Techstack</span><br
          /></a>
          <span class="small text-uppercase">POC</span><br />
          <a class="a" href="upload"
            ><span class="small text-uppercase">Documents</span><br
          /></a>
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="catalogue"><h5>LOYALTY</h5></a>
          <br />
          <a class="a" href="people">
            <span class="small text-uppercase">People</span></a
          >
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="catalogue"> <h5 class="mb-0">UPP</h5></a>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
   
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="catalogue"><h5 class="mb-0">DOMS</h5></a>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
        
          <a class="a" href="catalogue"><h5 class="mb-0">PRICING</h5></a>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
       
          <a class="a" href="catalogue"><h5 class="mb-0">S&S</h5></a>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="catalogue"><h5 class="mb-0">PHARMA</h5></a>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
       
          <h5 class="mb-0">jkl</h5>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <h5 class="mb-0">efg</h5>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <h5 class="mb-0">xyz</h5>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          
          <h5 class="mb-0">abc</h5>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->
    </div>
  </div>
</div>



<!-- new page -->
<div style="margin-top: 100px">
  <div class="container">
    <h3 style="text-align: center;text-decoration: underline;">Stores</h3>
    <div class="row text-center" style="padding: 40px">
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
        
          <a class="a" href="catalogue" style="text-decoration: none">
            <h5 class="mb-0">CATALOG</h5></a
          >
          <br />

          <a class="a" href="people"
            ><span class="small text-uppercase">People</span></a
          >
          <br />
          <a class="a" href="techstackcatalog">
            <span class="small text-uppercase">Techstack</span><br
          /></a>
          <span class="small text-uppercase">POC</span><br />
          <a class="a" href="upload"
            ><span class="small text-uppercase">Documents</span><br
          /></a>
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="catalogue"><h5>LOYALTY</h5></a>
          <br />
          <a class="a" href="people">
            <span class="small text-uppercase">People</span></a
          >
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="catalogue"> <h5 class="mb-0">UPP</h5></a>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
   
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="catalogue"><h5 class="mb-0">DOMS</h5></a>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
        
          <a class="a" href="catalogue"><h5 class="mb-0">PRICING</h5></a>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
       
          <a class="a" href="catalogue"><h5 class="mb-0">S&S</h5></a>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <a class="a" href="catalogue"><h5 class="mb-0">PHARMA</h5></a>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->

      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
       
          <h5 class="mb-0">jkl</h5>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <h5 class="mb-0">efg</h5>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
         
          <h5 class="mb-0">xyz</h5>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->
      <!-- Team item -->
      <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          
          <h5 class="mb-0">abc</h5>
          <br />
          <span class="small text-uppercase">People</span>
          <br />
          <span class="small text-uppercase">Techstack</span><br />
          <span class="small text-uppercase">POC</span><br />
          <span class="small text-uppercase">Documents</span><br />
        </div>
      </div>
      <!-- End -->
    </div>
  </div>
</div>

<!-- stores image -->
<div class="stores">
  <img src="../../../assets/Albertsons-companies.webp" />
</div>
