/* .footer {
  background-color: rgb(151, 203, 222);

  margin-top: 20px;

  width: 100%;
  height: 300px;
}
.footer h1 {
  text-align: center;
  margin-top: 20px;
  color: white;
  
  text-decoration: underline;
}
.footer h2,
h3 {
  color: white;
  text-align: center;
  margin-top: 30px;
  font-style: italic;
  
  font-weight: bold;
  width: 50%;
  padding: 5px;
  margin-left: 25%;

}

.footer h2:hover {
  color: black;
  transition-delay: 0.25s;
}
.footer h3:hover {
  color: black;
  transition-delay: 0.25s;
} */

.footer {
  margin-top: 10px;
  /* background: #01054a; */
  background-color: #3a98b9;
  color: white;
  /* position: sticky; */
}
.contact {
  margin-left: 300px;
  margin-top: 100px;
}
.links {
  margin-left: 900px;
  margin-top: -120px;
  color: white;
}
h4 {
  text-decoration: underline;
}
.links a {
  color: white;
}
.links a:hover {
  color: black;
}
@media (max-width: 1150px) {
  .contact {
    margin-left: 200px;
    margin-top: 100px;
  }
  .links {
    margin-left: 700px;
    margin-top: -120px;
    color: white;
  }
}
