<!-- <div class="footer">
  <br />
  <h1>Get In Touch</h1>
  <h2>Contact: 040-345789</h2>
  <h3>Mail ID: abs_kb@nisum.com</h3>
</div> -->
<div class="footer">
  <div class="contact">
    <h6>
      <br />
      <h4>For Any Queries</h4>
      <br />
      <img src="../../../assets/icons8-ringer-volume-24 (1).png" /> Contact:
      040-435678
    </h6>

    <h6>
      <img
        src="../../../assets/icons8-composing-mail-50.png"
        style="width: 20px"
      />
      Email: abs_kb@nisum.com
    </h6>
  </div>
  <div class="links">
    <h4>Quick Links</h4>
    <br />
    <a href="https://www.nisum.com/" target="_blank">https://www.nisum.com/</a
    ><br />
    <a href=" https://www.albertsons.com/" target="_blank">
      https://www.albertsons.com/</a
    ><br />

    <a href="https://www.safeway.com/" target="_blank">
      https://www.safeway.com/</a
    >
  </div>
  <br /><br />
</div>
