/* p {
  font-size: 100px;
  text-align: center;
} */
table {
  margin-top: 30px;
  /* margin-left: 50px;
  margin-right: 500px; */
  /* background-color: #f7f7f7; */
  /* background-color: #f9f9f9; */
  background-color: aliceblue;
  border-end-end-radius: inherit;
}
