<!-- <div class="home">
  <div class="image">
    <div class="bg">
      
    </div>

    <h1 id="background">ABS Knowledge Base</h1>
  </div>
  <img src="../../../assets/Knowledge.jpg" style="width: 100%; height: 600px" />
</div> -->

<!-- dsjhgsudygfuyssdg -->
<!-- <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="3"
          aria-label="Slide 4"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="4"
          aria-label="Slide 5"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="albertsons-main">
            <img
              src="../../../assets/1st-background.webp"
              style="width: 800px; height: 600px"
              class="d-block w-100"
              alt="..."
            />
          </a>
        </div>
        <div class="content">
          <h1>Albertsons Knowledge Base</h1>
          <p>We serve our best</p>
        </div>
        <div class="carousel-item">
          <a href="albertsons-main">
            <img
              src="../../../assets/Albertsons-1.jpg"
              style="width: 800px; height: 600px; margin-top: -140px"
              class="d-block w-100"
              alt="..."
            />
          </a>
        </div>
        <div class="carousel-item">
          <a href="albertsons-main">
            <img
              src="../../../assets/cheesedisplay_1024xx2560-1446-0-108.jpg"
              style="width: 800px; height: 600px; margin-top: -140px"
              class="d-block w-100"
              alt="..."
            />
          </a>
        </div>

        <div class="carousel-item">
          <a href="albertsons-main">
            <img
              src="../../../assets/absfood.jpg"
              style="width: 800px; height: 600px; margin-top: -140px"
              class="d-block w-100"
              alt="..."
            />
          </a>
        </div>
        <div class="carousel-item">
          <a href="albertsons-main">
            <img
              src="../../../assets/abspharma.jpg"
              style="width: 800px; height: 600px; margin-top: -140px"
              class="d-block w-100"
              alt="..."
            />
          </a>
        </div>
      </div>

      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button> -->

<!-- <div class="mission">
    <h1
      style="
        text-decoration: underline;
        margin-top: 80px;
        text-shadow: 2px 2px 5px rgb(96, 180, 225);
      "
    >
      Mission Of Albertsons
    </h1>
    <img src="../../../assets/missionfinal.jpg" />
    <p>
      We transform enterprises into digital powerhouses and deliver
      cutting-edge, future-forward solutions that empower our clients to achieve
      their own positive economic and societal missions, thereby building
      success together for all stakeholders.
    </p>
  </div> -->

<!-- <div class="sections">
  <hr />
  <div class="section0">
    <img src="../../../assets/istockphoto-1021822964-170667a.jpg" />
    <h6>Interview Questions</h6>

    <img
      src="../../../assets/d1.svg"
      style="margin-top: -250px; margin-left: 700px; width: 250px"
    />
    <h6 style="margin-left: 800px; margin-top: -45px">Documents</h6>
  </div>
</div> -->

<div>
  <div class="home">
    <div class="context">
      <h1>ABS KNOWLEDGE BASE</h1>
    </div>

    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</div>
