<hr />
<div class="catalog">
  <h1>Catalogue</h1>
  <!-- <mat-card>
    <div class="head">
      <h2>More About Catalogue:</h2>
    </div>
  </mat-card> -->
  <mat-card
    style="
      margin-left: 150px;
      margin-right: 150px;
      height: 50%;
      margin-top: 50px;
    "
  >
    <div class="container text-center">
      <p>
        laborum quia. Ut esse quis non libero doloribus cum veritatis vitae nam
        ullam facere non suscipit quidem et asperiores sequi. Eum galisum
        suscipit in cupiditate deleniti ab iusto quaerat a rerum dolorem quo
        possimus consequatur in galisum doloribus. Cum blanditiis consequuntur a
        architecto itaque ad laboriosam voluptate? Est saepe rerum ea nemo
        recusandae et laborum nulla. Id iste nostrum et culpa inventore ea ipsum
        quia aut expedita placeat aut beatae vero.Cum blanditiis consequuntur a
        architecto itaque ad laboriosam voluptate? Est saepe rerum ea nemo
        recusandae et laborum nulla. Id iste nostrum et culpa inventore ea ipsum
        quia aut expedita placeat aut beatae veroCum blanditiis consequuntur a
        architecto itaque ad laboriosam voluptate? Est saepe rerum ea nemo
        recusandae et laborum nulla. Id iste nostrum et culpa inventore ea ipsum
        quia aut expedita placeat aut beatae vero
      </p>
    </div>
  </mat-card>
</div>
